# Base de datos
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=expense_tracker
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/expense_tracker"

# JWT
JWT_SECRET=supersecretjwtkey_cambiar_en_produccion
JWT_EXPIRES_IN=7d

# Servidor
PORT=3000
NODE_ENV=development
